.edition-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0; 
    gap: 20px;
}

.edition-container h1{
    font-size: 48px;
    text-align: center;
}

.edition-information {
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px  16px;
    border-radius: 8px;
    height: fit-content 
}

.edition-line{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    font-size: 18px;
    width: fit-content;
}

.edition-line h2{
    font-size: 20px;
    margin: 0;
}

.edition-hero{
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100vw;
    margin: auto;
    
}
.edition-hero img{
    width: calc(211px * 1.8);
    height: 211px;
    padding: 0 12px;
    margin: 0;
}

.edition-sports{
    background-color: #FFF;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    padding: 16px  16px;    
    border-radius: 8px;
    height: fit-content;
    width: calc(211px * 1.8 + 432px);
    margin: auto;
}

.edition-sports h2{
    font-size: 20px;
    margin: 0;
}

.edition-sports ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    padding: 0;
}

.edition-sports li{
    font-size: 18px;
    letter-spacing: 0.05rem;
}

.edition-sports li:last-child span{
    display: none;
}

.edition-ranking{
    background-color: #FFF;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    padding: 16px  16px;    
    border-radius: 8px;
    height: fit-content;
    width: calc(211px * 1.8 + 432px);
    margin: auto;
}


.ranking-row{
    display: flex;
    width: 100%;
    gap: 10px;
}

.ranking-head{
    display: flex;
    gap: 10px;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
}
.nation-head{
    width: 314px;
    display: flex;
    align-items: center;
}

.medal-head{
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 0.25s ease;
}

.medal-head:hover{
    transform: scale(1.05);
}

.nation-cell{
    width: 314px!important;
}
.gold-medal{
    width: 120px;
}
.silver-medal{
    width: 120px;
}
.bronze-medal{
    width: 120px;
}

.total-medal{
    width: 120px;
    display: flex;
    justify-content: center;
}
.gold-medal a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: auto;
    border-radius: 100%;  
    padding: 4px;
    background-color: #FCC861;
}

.silver-medal a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: auto;
    border-radius: 100%;  
    padding: 4px;
    background-color: #E5E5E5;
}

.bronze-medal a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: auto;
    border-radius: 100%;  
    padding: 4px;
    background-color: #DCB386;
}

.edition-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.edition-links a{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;
    transition: all 0.25s ease;
}

.edition-links a:hover{
    transform: scale(1.1);
}