.edition-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.edition-container h1{
    font-size: 48px;
    text-align: center;
    margin: 20px 0;
}

.edition-information {
    background-color: #F5F5F5;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px  16px;
    border-radius: 8px;
    height: fit-content 
}

.edition-line{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    font-size: 18px;
    width: 25vw;
}

.edition-line h2{
    font-size: 20px;
    margin: 0;
}

.edition-hero{
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100vw;
    margin: auto;
    
}
.edition-hero img{
    width: calc(211px * 1.8);
    height: 211px;
    padding: 0 12px;
    margin: 0;
}

.edition-sports{
    background-color: #F5F5F5;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    padding: 16px  16px;    
    border-radius: 8px;
    height: fit-content;
    width: calc(55vw - 16px);
    margin: auto;
}

.edition-sports h2{
    font-size: 20px;
    margin: 0;
}

.edition-sports ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    padding: 0;
}

.edition-sports li{
    font-size: 18px;
    letter-spacing: 0.05rem;
}

.edition-sports li:last-child span{
    display: none;
}
