body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

.sport-container {
  width: 1000px; 
  height: 800px; 
  border: 1px solid gray;
  margin: 20px;
  background-color: white;
}
.container {
  display: flex;
  /* Use flexbox */
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.ligne-haut{
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container {
  border: 1px solid gray;
  border-radius: 5px;
  color: black;
  
  width: 70%; 
}

.image{
  height: 200px;
  width: auto;
  margin-left: 30px;
}

.description-container {
  color: black;
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  width: 80%;
}
