
@font-face {
    font-family: 'Jockey One';
    src: url('../../JockeyOne-Regular.ttf') format('truetype');
}

header {
    background-color: #0936b3;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header img {
    width: 130px;
    height: auto;
    float: left;
    margin: 0px;
    /* margin-right: -50%; */
    margin-left: 20px;
    margin-top: 6px;
    transition: transform 0.7s ease; /* Add transition property for smooth transform */
}

header img:hover {
    transform: scale(0.8) rotate(360deg); /* Rotate the image 360 degrees on hover */
}

header h1 {
    margin: 0;
    line-height: 70px; /* Adjust the line height to vertically center the title */
     margin-right: 1000px;/* Add auto margin to push the h1 element to the left */
    font-family: Jockey One;
    font-size: 45px;
    transition: color 0.3s ease; /* Add transition property for smooth color change */
    display: inline-block; /* Make the h1 element as wide as the text */
}

header h1:hover {
    color: #bb9001; /* Change the color on hover */
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); /* Add text shadow on hover */
}
    


