body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .search-container {
    width: 500px;
    display: flex;
    background-color: #fff;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #search {
    padding: 10px;
    padding-left:20px;
    width: 500px;
    border: none;
    outline: none;
  }
  
  #search-button {
    background-color: #4285f4;
    border: none;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #search-button:hover {
    background-color: #357ae8;
  }
  
  img {
    width: 20px;
    height: 20px;
    display: block;
    margin: auto;
    filter: invert(1); /* Inverser la couleur de l'icône pour qu'elle soit blanche */
  }
  