
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
